body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: cornflowerblue;
  background-color: floralwhite;
}

a {
  text-decoration: none;
  color: rgb(69, 69, 69);
  font-weight: bold;
  font-size: 1rem;
  text-transform: uppercase;
}

button {
  padding: 10px;
  border-radius: 5px;
  background-color: rgb(43, 226, 125);
  border: none;
}

h1,
h2,
p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: cornflowerblue;
  background-color: floralwhite;
}
